footer.footer
    ul.footer__menu
        li.footer__list News
        li.footer__list Delivery
        li.footer__list Contact us
        li.footer__list Follow us+

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src="https://code.jquery.com/jquery-3.5.1.js")
script(src="js/main.min.js")