form(action="/autorization", method= 'POST').menu_user.menu_user_sign_in
    i.fa.fa-times-circle.fa-2x.menu_user_close
    a.user_menu_choice.user_menu_choice_sign(id='menu_sign_in') Войти
    a.user_menu_choice.user_menu_choice_reg(id='menu_registration') Регистрация
    div.menu_sign_in
        input.user_sign_in_menu.user_login(id = 'email',   name = 'email',    type = "email",   placeholder = "e-mail" required)
        input.user_sign_in_menu.user_pass(id = 'password', name = 'password', type = "password",placeholder = "Пароль" required)
        button.btn_sign_in_menu.btn_sign_in(type = "submit", id='sign_in')  Войти
        a.btn_sign_in_menu.btn_forgot_passw Забыли пароль?
