header.header
    .logo
        img.logo__picture(src= "images/logo.png", alt="picture")
        .logo-name Nataly Bloom
    .header__top
        .container
            include contact
    .header__bottom
        .container
            include nav
    .header_mainmenu
        .container
            include mainmenu


