header.header
    .logo
        img.logo__picture(src= "images/logo_1.jpeg", alt="picture")
        img.logo__picture(src= "images/logo_2.jpeg", alt="picture")
    .header__top
        .container
            include contact
    .header__bottom
        .container
            include nav
    //.header_mainmenu
        .container
            include mainmenu*/


