div.main_page
    p.company_style Философия бредна - КРАСИВАЯ КАЖДЫЙ ДЕНЬ! Наша одежда поднимает настроение мягкостью тканей и сочетанием цветов. Нет равнодушных к нашей оджеде.
    section.hero
        img.hero-img(src= "images/carusel/img_1.jpg", alt="picture")
        img.hero-img(src= "images/carusel/img_2.jpg", alt="picture")
        img.hero-img(src= "images/carusel/img_3.jpg", alt="picture")
        img.hero-img(src= "images/carusel/img_4.jpg", alt="picture")
