
ul.main__menu
    li.main__list.list--choice Акции
        ul.menu--options.list-stocks
    li.main__list.list--choice Весна-Лето
        ul.menu--options
    li.main__list.list--choice Осень-Зима
        ul.menu--options
    li.main__list.list--choice.list--sale SALE
        ul.menu--options




