nav.nav
    a.cart(href="#")
        i.fa.fa-opencart.contact__icon.contact__icon--cart(aria-hidden="true")
    -var items = ['Главная', "Лукбук" , "Акции" ,'Sale', 'Про нас']
                        each item in items
                            if item === 'Главная'
                                a.nav__link.nav__link--active(href="/")= item
                            else if item === 'Лукбук'
                                a.nav__link(href="/sale_page")= item
                            else
                                a.nav__link(href="#")= item

