div.grid_main_item
    div.grid_img_block
        img.grid_img(src= "images/dress/8.jpg", alt="picture")
        img.grid_img_second(src= "images/dress/9.jpg", alt="picture")
    div.price
        p.grid_cost_old 355$
        p.grid_cost 255$
    p.grid_inf Крутое платье для выходных
div.grid_main_item
    div.grid_img_block
        img.grid_img(src= "images/dress/22.jpg", alt="picture")
        img.grid_img_second(src= "images/dress/23.jpg", alt="picture")
    div.price
        p.grid_cost_old 355$
        p.grid_cost 255$
    p.grid_inf Крутое платье для выходных
div.grid_main_item
    div.grid_img_block
        img.grid_img(src= "images/dress/18.jpg", alt="picture")
        img.grid_img_second(src= "images/dress/9.jpg", alt="picture")
    div.price
        p.grid_cost_old 355$
        p.grid_cost 255$
    p.grid_inf Крутое платье для выходных
div.grid_main_item
    div.grid_img_block
        img.grid_img(src= "images/dress/10.jpg", alt="picture")
        img.grid_img_second(src= "images/dress/14.jpg", alt="picture")
    div.price
        p.grid_cost_old 355$
        p.grid_cost 255$
    p.grid_inf Крутое платье для выходных
div.grid_main_item
    div.grid_img_block
        img.grid_img(src= "images/dress/14.jpg", alt="picture")
        img.grid_img_second(src= "images/dress/13.jpg", alt="picture")
    div.price
        p.grid_cost_old 355$
        p.grid_cost 255$
    p.grid_inf Крутое платье для выходных
div.grid_main_item
    div.grid_img_block
        img.grid_img(src= "images/dress/16.jpg", alt="picture")
        img.grid_img_second(src= "images/dress/9.jpg", alt="picture")
    div.price
        p.grid_cost_old 355$
        p.grid_cost 255$
    p.grid_inf Крутое платье для выходных