doctype html
html(lang='ru')
    head
        meta(charset='UTP=8')
        meta(http-equiv='X-UA-Compatible',content='IE-edge')
        meta(name='viewport', content='width=device-width')
        link(rel="stylesheet", href="../css/main.min.css")
        link(rel="icon", href="../images/icons/nataly_icon.ico" type="image/x-icon")
        title "Nataly Bloom"
    block Landing
body

include sections/header
include sections/hero
include sections/footer


script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src="https://code.jquery.com/jquery-3.5.1.js")
script(src="js/main.min.js")