.footer__menu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  text-align: center;
  position: relative;
}

.footer__list{
  vertical-align: top;
  font-weight: bold;
  color: darkslategray;
  padding: 10px;
  list-style: none;

  &:hover {
    color: darken(white,30%);
    transition: 2s;
    cursor: pointer;
  }
}

.sign_in{
  margin-right: 20px;
  top: -5px;

  &:hover {

    .user_authorization{
      display: block;
    }
  }

}

.user_authorization{
  display: none;
  position: absolute;
  transition: 0.5s;
  right: 20px;
  top: 33px;
  height: 55px;

  .btn_user{
    margin-top: 25px;
    margin-left: 5px;
    min-width: 85px;
    height: 30px;
  }

}