.header{
  &__top {
    background-color: white;
  }

  &__bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 41px 0px 32px;

    @media (max-width: 500px) {
      padding: 25px 0px 15px;
    }
  }
}

.contacts{
  text-align: right;
}

.contact {
  display: inline-block;
  vertical-align: top;
  padding: 10px 10px 8px;
  color: #424242;
  transition: 0.3s;

  &:hover {
    color: lighten(#424242, 20%);
  }

  &:first-child{
    margin-right: 8px;
    padding-right: 18px;
    border-right: 1px solid #e2e2e2;
  }

  &__icon{
    margin-right: 7px;
    vertical-align: middle;
    font-size: 1.5rem;

    &--email{
      font-size: 1rem;
    }
  }
  &__text{

    display: inline-block;

    @media (max-width: 800px) {
      display: none;

      &:hover {
        display:block;
      }
    }

  }
}

.logo {

  display: inline-flex;
  position: absolute;
  width: 40%;


  .logo__picture {

    width: 190px;
    height: 150px;
    border-radius: 50%;

    @media (max-width: 500px) {
      width: 100px;
      height: 100px;
    }

  }

}

.facebook-icon{
  display: inline-block;
  padding: 5px 8px 1px;
  border-radius: 3px;
  background-color: #1287bf;
  color: #fff;
}

.instagram-icon{
  display: inline-block;
  padding: 2px 2px 1px;
  border-radius: 3px;
  color: orangered;
}